.search {
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    background: rgba(43, 53, 102, 0.46);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.search p {
    color: #9da5d1;
}

.search_container{
    display: flex;
    gap: .5rem;
}

.search_container button,
.search_container input{
    padding: .6rem;
    border-radius: 3px;
    border: none;
    color: #2b3566;
}

.search_container button{
    background-color: #0e1129;
    cursor: pointer;
}

.by {
    font-size: .7rem;
    opacity: 0.5;
}
